*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #FBF6E9;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img{
    margin: 0.5rem ;
}

#body{
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* grid-template-rows: auto auto auto; */
    align-items: center;
    justify-content: center;
    background-color: #E3F0AF;
    
}
#element{
    height: 15rem;
    width: 20rem;
    background-color: black;
    margin: 1.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 5px solid #FBF6E9;
}

.one{
    background-image: url("https://images.pexels.com/photos/208603/pexels-photo-208603.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size:cover ;
}

.two{
    background-image: url("https://plus.unsplash.com/premium_photo-1661919589683-f11880119fb7?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bW9udW1lbnR8ZW58MHx8MHx8fDA%3D");
    background-size:cover ;
}

.three{
    background-image: url("https://images.unsplash.com/photo-1522995924214-ac0040b4b63f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fG1vbnVtZW50fGVufDB8fDB8fHww");
    background-size:cover ;
}

.four{
    background-image: url("https://images.unsplash.com/photo-1524492412937-b28074a5d7da?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fG1vbnVtZW50fGVufDB8fDB8fHww");
    background-size:cover ;
}

.five{
    background-image: url("https://media.istockphoto.com/id/809349300/photo/new-dawn-over-washington.webp?a=1&b=1&s=612x612&w=0&k=20&c=-5zejHyYMsmeH1RynytYi5qndh7XJ1SNZ8BoXTF2zAA=");
    background-size:cover ;
}

.six{
    background-image: url("https://media.istockphoto.com/id/2168631226/photo/acropolis-low-angle-view.webp?a=1&b=1&s=612x612&w=0&k=20&c=e547M0fTVKCjClfxXnZX87GWGS1yioItilzoSSJtBt8=");
    background-size:cover ;
}

.seven{
    background-image: url("https://media.istockphoto.com/id/1476177420/photo/us-capitol-building-at-sunset-washington-dc-usa.webp?a=1&b=1&s=612x612&w=0&k=20&c=IRjZ5kwNQvVZ_CIYhQXqOlmeRwAdSuX0jkQ7bpRTnTw=");
    background-size:cover ;
}

.eight{
    background-image: url("https://media.istockphoto.com/id/2089546320/photo/coastal-charm-under-the-mediterranean-sun.webp?a=1&b=1&s=612x612&w=0&k=20&c=-ZCy9CUNAzIRDatdEJzDUdLvhHftG9qZSNAyTAooWeY=");
    background-size:cover ;
}

.nine{
    background-image: url("https://images.unsplash.com/photo-1635521451274-311ef42d4fc4?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NjF8fG1vbnVtZW50fGVufDB8fDB8fHww");
    background-size:cover ;
}

.ten{
    background-image: url("https://images.pexels.com/photos/29790966/pexels-photo-29790966/free-photo-of-traditional-asian-temple-architecture-at-dusk.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size:cover ;
}

.eleven{
    background-image: url("https://images.pexels.com/photos/1448136/pexels-photo-1448136.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size:cover ;
}

.twelve{
    background-image: url("https://images.pexels.com/photos/290386/pexels-photo-290386.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size:cover ;
}