/* *{
} */

body{
    background:url(https://img.freepik.com/free-vector/gradient-comic-book-city-background_52683-156228.jpg?t=st=1734547174~exp=1734550774~hmac=80cd4bb139933fc1b1b57ecaabc4df0d343c0fbb66cf20fbb1e2d1345ff7500d&w=996);
    background-size: cover;
}

h1{
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: beige;
    font-size:5rem;
}

#container{
    width: 800px;
    border: 5px solid black;
    position: relative;
    overflow: hidden;
    left: 25%;
    top: 3rem;
}

#slider{
    display: flex;
    transition: 1s ease-in-out;
}

.slide{
    flex:0 0 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
}

.slide.active{
    transform: translateX(0);
}

#slider-controls{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    
}

.prev,.next{
    margin: 0 10px;
    height: 35px;
    width: 60px;
    border: 1px solid rgb(101, 101, 101);
    border-radius: 10px;
    background-color: beige;

}

button:active{
    background-color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}