*{
    background-color: #FBFBFB;
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
}

h1{
    margin-top: 2rem;
}
td{
    background-color: #D4F6FF;
    height: 70px;
    width: 11rem;
    border: 2px solid black;
    border-collapse: collapse;
    
}
table{
border-collapse: collapse;
   margin-left: 3rem;
}

#time{
    background-color: #FFDDAE;
}
#day{
    background-color: #8EB486;
}

h4{
    margin-top: 3rem;
    margin-left: 2rem;
    text-align: left;
}